<section>
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ groceries.name }}</mat-card-title>
            <mat-card-subtitle>Precio: {{ groceries.price }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="groceries.photo" alt="Photo of {{ groceries.name }}">
        <mat-card-content>
            <p>{{ groceries.description }}</p>
        </mat-card-content>
        <mat-card-actions>
            <a [routerLink]="['/groceriesDetails', groceries.id_groceries]" routerLinkActive="router-link-active">
                <button mat-stroked-button *ngIf="groceries?.id_groceries">
                    Ver Detalles
                </button>
            </a>
        </mat-card-actions>
    </mat-card>
    <app-groceries-details></app-groceries-details>
</section>